.country__image {
    width: 100%;
    object-fit: cover;
    height: 350px;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
    margin: 20px;
}
.citizens__card-img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}
.cities__card-img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}
.landmark__card-img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}