.country__image {
    width: 100%;
    object-fit: scale-down;

}

h1 {
    text-align: center;
    margin: 20px;
}

.content {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

.content__container {
    margin: 20px;
    border: solid black 4px;
}


/* h2, 
h3 {
    text-align: center;
} */